@{
    ViewBag.Title = "Customer Search";
    
}

    <div ng-controller="humanCtrl">
        <table>
            <tr>
                <td>
                    <h2>WELCOME TO  </h2>
                </td>
                <td>
                    <img src="~/Imgs/customersearch.jpg" height="175" width="200">
                </td>
            </tr>

        </table>
        <h3>Search Customers</h3>
        

        Search using any part of a name: 
        <input type="text" id ="searchBox" ng-click="clearMysearch()" ng-model="mysearch.Name" />

        <span id ="searchBtn" class="btn btn-primary" ng-mouseup="SearchHuman()" ng-click="myFilter = mysearch">Search</span>
        <br>
        Don't see the Patient on the list?  
        <span id = "addBtn" ng-click="AddHumanDiv()" class="btn btn-default">
            Add Patient
        </span>
        <div><img id="mySpinner" src="~/Imgs/InternetSlowdown_Day.gif" ng-show="loadingScreen" height="50" width=50"" /></div>

        <div ng-hide="divList">
            <p><b><i>Customer List</i></b></p>
            <table class="table table-hover">
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Name</b></td>
                    <td><b>Address</b></td>
                    <td><b>Age</b></td>
                    <td><b>Hair</b></td>
                    <td><b>Interests</b></td>
                    <td><b>Photo</b></td>
                    <td><b>Action</b></td>

                </tr>
                <tr ng-repeat="human in humans | filter: myFilter">
                    <td id="{{human.Id}}">
                        {{human.Id}}
                    </td>
                    <td id="{{human.Name}} ">
                        {{human.Name}}
                    </td>
                    <td id="{{human.Address}}">
                        {{human.Address}}
                    </td>
                    <td id ="{{human.Name}}age">
                        {{human.Age}}
                    </td>
                    <td id="{{human.Name}}hair">
                        {{human.Hair}}
                    </td>
                    <td id="{{human.Name}}interests">
                        {{human.Interests}}
                    </td>
                    <td>
                        <img id="{{human.Name}}picture" src="{{human.FileName}}" width="100" height="100" />
                    </td>
                    <td>
                        <span ng-click="editHuman(human)" class="btn btn-primary">Edit</span>
                        <span ng-click="deleteHuman(human)" class="btn btn-danger">Delete</span>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-show="divHuman">
            <form name="humanForm">
                <p class="divHead"></p>
                <table class="table">
                    <tr>
                        <td><b><i>{{Action}} Customer</i></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>

                        <td><b>Full Name</b> (Required)</td>
                        <td>
                            <input id="fullName" name="userFulltName" type="text" ng-model="humanName" required />


                        </td>
                        <td><b>Address</b></td>
                        <td>
                            <input id ="address" type="text" ng-model="humanAddress" />
                        </td>
                    </tr>
                    <tr>

                        <td><b>Age</b></td>
                        <td>
                            <input id="age" type="number" ng-model="humanAge" />
                        </td>
                        <td><b>Hair</b></td>
                        <td>
                            <input id="hair" type="text" ng-model="humanHair" />
                        </td>
                    </tr>
                    <tr>

                        <td><b>Interests</b></td>
                        <td>
                            <input id="interests" type="text" ng-model="humanInterests" />
                        </td>
                        <td><b>Image URL</b></td>
                        <td>
                            <input id="image" type="text" ng-model="humanFileName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="saveBtn" type="button" class="btn btn-default" value="Save" ng-click="AddUpdateHuman()" ng-disabled="humanForm.$invalid" />
                            <input id="cancelBtn" type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
                        </td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
